* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 217, 239, 0.6);
}

.image img {
    max-width: 450px;
}

.content, .form {
    padding: 20px;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

form div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

input {
    width: 300px;
}

form div div {
    display: flex;
    flex-direction: column;
}

button {
    align-self: flex-start;
    width: 100px;
    height: 40px;
    background-color: #E67972;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.logo {
    height: 100px;
    width: 450px;
    position: absolute;
    top: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo p {
    font-size: 60px;
    
}

span {
    color: red;
}
